/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Device tree overlay for Nordic Thingy91 demo */

&i2c1 {
	status = "okay";
	
	/* BME680 environmental sensor */
	bme680: bme680@77 {
		compatible = "bosch,bme680";
		reg = <0x77>;
		label = "BME680";
	};
};

&spi3 {
	status = "okay";
	
	/* ADXL372 high-g accelerometer */
	adxl372: adxl372@0 {
		compatible = "adi,adxl372";
		reg = <0>;
		spi-max-frequency = <8000000>;
		label = "ADXL372";
	};
	
	/* ADXL362 low-power accelerometer */
	adxl362: adxl362@1 {
		compatible = "adi,adxl362";
		reg = <1>;
		spi-max-frequency = <8000000>;
		label = "ADXL362";
	};
};

/* Enable PWM for LED control */
&pwm0 {
	status = "okay";
	ch0-pin = <29>;
	ch0-inverted;
};

&pwm1 {
	status = "okay";
	ch0-pin = <30>;
	ch0-inverted;
};

&pwm2 {
	status = "okay";
	ch0-pin = <31>;
	ch0-inverted;
};

/* ADC configuration for battery monitoring */
&adc {
	status = "okay";
};

/* Flash partitioning */
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserve space for NVS storage */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};

/* User configuration */
/ {
	zephyr,user {
		/* ADC channel for battery voltage */
		io-channels = <&adc 5>;
	};
	
	/* Aliases for sensors */
	aliases {
		bme680 = &bme680;
		adxl372 = &adxl372;
		adxl362 = &adxl362;
	};
	
	/* LED configuration */
	pwmleds {
		compatible = "pwm-leds";
		red_pwm_led: red_pwm_led {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
		green_pwm_led: green_pwm_led {
			pwms = <&pwm1 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
		blue_pwm_led: blue_pwm_led {
			pwms = <&pwm2 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
	};
};